.checkbox-list{
    margin :2px;
}
.checkbox-list mat-checkbox {
    margin:5px;
}
.uploadlabel{
    margin-right: 5px;
}
.container{
    box-shadow: grey 1px 1px 1px 1px  ;
    position: absolute;
    top:5%;
    left:2%;
    margin-bottom: 10px;
    background-color:white;
}

.button-create{
    width: 300px;
    border-radius: 5px;
    margin: 5px 5px 5px 5px;
    
}