<div class="mat-elevation-z8">
    <div>

        <div class="row">
            <div class="col-lg-4 col-md-12 mb-4 mx-auto">
                    
                <h1 class="display-3">Users list</h1>

            </div>

        </div>

        <div class="row">
                <div class="col-lg-12 colr-md-12 mb-4 mx-auto">
                    <ng-template #contentCreate let-modal>
                            <div class="modal-header">
                              <h4 class="modal-title mr-auto" id="modal-basic-title" >Create Category</h4>
                              <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                                <span aria-hidden="true">&times;</span>
                              </button>
                            </div>
                            <div class="modal-body">
                              <form [formGroup]="CreateCollectionForm">
                                <div class="form-group">
                                  <label for="nameCollection" class="CollectionNameLabel">Category Name</label>
                                  <div class="input-group">
                  
                                    <input id="nameCollection" class="form-control" placeholder=" category name "  formControlName="namecollection" #namecollection>
                                    
                                  </div>
                                </div>



                                <div class="form-group">
                                        <label for="nameCollection" class="CollectionNameLabel">Category icon</label>
                                        <div class="input-group">
                        
                                          <input id="nameCollection" class="form-control" type="file">
                                          
                                        </div>
                                      </div>


                              </form>
                            </div>
                            <div class="modal-footer">
                              <button type="button" class="btn btn-outline-dark mx-auto" (click)="modal.close('Save click')">save</button>
                            </div>
                          </ng-template>
            </div>
            






            <div class="col-lg-12 colr-md-12 mb-4 mx-auto">
                    <ng-template #contentDelete let-modal>
                            <div class="modal-header">
                              <h4 class="modal-title mr-auto" id="modal-basic-title" >Create Category</h4>
                              <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                                <span aria-hidden="true">&times;</span>
                              </button>
                            </div>
                            <div class="modal-body">
                                <div>
                                        <label for="nameCollection">you want really to delete category</label>
                                        
                                </div>


                            </div>
                            
                            <div class="modal-footer">
                              <button type="button" class="btn btn-outline-dark mx-auto" (click)="modal.close('Save click')">delete</button>
                            </div>
                          </ng-template>
            </div>







        </div>
        <table mat-table [dataSource]="dataSource">

            <!-- Position Column -->
            <ng-container matColumnDef="position">
                <th mat-header-cell *matHeaderCellDef> No. </th>
                <td mat-cell *matCellDef="let element"> {{element.position}} </td>
            </ng-container>

            <!-- Name Column -->
            <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef> Name </th>
                <td mat-cell *matCellDef="let element"> {{element.name}} </td>
            </ng-container>

            <!-- Weight Column -->
            <ng-container matColumnDef="weight">
                <th mat-header-cell *matHeaderCellDef> Weight </th>
                <td mat-cell *matCellDef="let element"> {{element.weight}} </td>
            </ng-container>

            <!-- Symbol Column -->
            <ng-container matColumnDef="action">
                <th mat-header-cell *matHeaderCellDef> action </th>
                <td mat-cell *matCellDef="let element">
                    
                    
                    
                    
                    
                    



                    <button class=" btn btn-dark" (click)="openDelete(contentDelete)">Delete</button> </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>

        <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
    </div>



    